/atm.js
/atmcard.css
/atmcard.html
/first.java
/food_1.png
/food_2.jpg
/food_3.png
/food_4.png
/home.jpg
/images.jpg
/mountain.webp
/My Photo.jpg
/new.css
/new.html
/new.js
/project.html
/project.js
/project_1.html
/project_2.html
/project_3.css
/project_3.html
/project_3.js
/project_4.css
/project_4.html
/projetc_5.html
/shlok.png
/styles.css
/Welcome.jpg